sf-standalone-app/src/main/mule/sf-standalone-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="383ea6bc-6056-4eaf-ad08-976d8340c630" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="sf-standalone-appFlow" doc:id="d5e03db2-6f75-410b-b4ea-a439bae66d1e" >
		<http:listener doc:name="Listener" doc:id="d1b9d7c9-d883-4950-9d36-62b08aaa094e" config-ref="HTTP_Listener_config" path="/${path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="aa5e0a23-b412-4266-8ccc-d93cf04c7752" message="received request to standalone app: #[payload]"/>
		<set-payload value="#['Hello from standalone']" doc:name="Set Payload" doc:id="b1ce84f0-138e-4bfd-9fbc-4a03f1caeb62" />
	</flow>
</mule>
