batch-job-test-mule4/src/main/mule/batch-job-test-mule-waitUntilFinish.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	
	<flow name="batch-job-test-waitUntilFinish-mule4Flow" doc:id="d418d7cd-7b88-41b0-997f-0d06ed8eafb9"  maxConcurrency="1" initialState="${waitUntilFinishTest.initialState}">
		<scheduler doc:name="Scheduler" doc:id="7f74be09-426c-4ef1-bdbe-327ea31b092d" >
			<scheduling-strategy >
				<fixed-frequency frequency="${schdulerFrequencyInSeconds}" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="3f895bc9-c58b-45b9-9231-3d8ec462acc7" message="RECEIVED AN EVENT for Until Finish Test"/>
		<db:select doc:name="Select" doc:id="a8e6cb60-ff92-4ef0-af25-7a9dd1d0d1c9" config-ref="Database_Config_MySQL">
			<db:sql >select * from employee</db:sql>
		</db:select>
		<set-variable value="OutSide Variable" doc:name="Set Variable" doc:id="243f8ce2-6ce2-4de1-9220-420a7dbcba52" variableName="outSideVar"/>
		<batch:job jobName="batch-job-test-waitUntilFinish-mule4Batch_Job" doc:id="e4a8c726-80b8-48fe-bd63-fad8c14e5865" maxFailedRecords="-1" blockSize="2" target="batchJobResult">
			<batch:process-records >
				<batch:step name="STEP-1" doc:id="0d7eed3e-c4b7-4ed9-b21a-7a8ba5934990" >
					<set-variable value="Inside Variable In Step1" doc:name="Set Variable" doc:id="a250510b-8cd5-4322-82a1-1348b6352b56" variableName="insideVariable1" />
					<logger level="INFO" doc:name="Logger" doc:id="f81cb2fe-85e9-4198-9a94-d1ece7f5bef2" message="###  Step 1: #[payload], Outside Variable: #[vars.outSideVar], Inside Variable One: #[vars.insideVariable1] ###" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="8460faa7-54a7-4f00-be8f-78ef86e96bfa" size="2">
						<ee:transform doc:name="Transform Message" doc:id="ab86551c-1813-455e-8c3e-d28e71c19d2f" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	changedName: 'STEP1' ++ $.department,
	empId: $.id,
	depId: if($.id == 1) 'test' else $.id + 1
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="0bb2e577-2e9f-44f7-b1d6-ddc50664fd87" message="##  STEP 1 Aggregation: #[payload]"/>
						<db:bulk-update doc:name="Bulk update" doc:id="a9aa3cd6-3c60-4b22-aea4-bc9dba8585fa" config-ref="Database_Config_MySQL">
							<db:sql>update employee set fname = :changedName, depId= :depId where id = :empId</db:sql>
						</db:bulk-update>
						<logger level="INFO" doc:name="Logger" doc:id="25dcd773-b835-4747-a273-511d764c2616" message="## Result from DB Call: #[payload] ##"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="STEP-2" doc:id="2b19c772-dcdc-4766-a818-4edf7afe20eb">
					<logger level="INFO" doc:name="Logger" doc:id="7b8d73a6-d5d9-457a-b917-f639f4b576a8" message="## Step 2: Outside Variable: #[vars.outSideVar], Inside Variable One: #[vars.insideVariable1], Inside Variable Two: #[vars.insideVariable2]##" />
					<set-variable value="Inside Variable in Step 2" doc:name="Set Variable" doc:id="ddd08a7f-cdab-4ce7-8888-1c54b021d072" variableName="insideVariable2"/>
					<set-variable value="Inside Variable in Step 1 Changed" doc:name="Set Variable" doc:id="cf6e0c5c-f429-4e8d-8e59-2f2ad7e5c248" variableName="insideVariable1"/>
					<logger level="INFO" doc:name="Logger" doc:id="fd2e6ac5-d732-4709-9d4f-f2ba1d979156" message="## Step 2: #[payload], Outside Variable: #[vars.outSideVar], Inside Variable One: #[vars.insideVariable1], Inside Variable Two: #[vars.insideVariable2]##"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="9abf997c-9da2-4415-ae28-85ec10a3586b" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="0cda19f6-281e-4ba5-ba0f-e1467b7a73dc" message="## STEP 2 Aggregation: #[payload]" />
						<db:bulk-update doc:name="Bulk update" doc:id="6ed33330-d8c1-43bf-a550-4943a3117762" config-ref="Database_Config_MySQL">
							<db:bulk-input-parameters ><![CDATA[#[output application/java --- payload map { changedName: ('STEP2' ++ $.phone), empId: $.id }]]]></db:bulk-input-parameters>
							<db:sql >update employee set lname = :changedName  where id = :empId</db:sql>
						</db:bulk-update>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="dc666076-ff3d-47b1-90aa-a6616b11f174" message="##  Final Output #[payload], Outside Variable: #[vars.outSideVar], Inside Variable One: #[vars.insideVariable1], Inside Variable Two: #[vars.insideVariable2]##, Payload: #[payload]"/>
				<os:store doc:name="Store" doc:id="01aa0e38-0782-4e1f-b152-101b1f9ceef2" key="#[payload.batchJobInstanceId]">
					<os:value ><![CDATA[#['completed']]]></os:value>
				</os:store>
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="25d64c36-1123-4b2a-a6f1-eeaf8d7f1412" message="BATCH JOB TRIGGERED SUCCESSFULLY,  Payload: #[payload], Batch Instance ID: #[vars.batchJobResult.id]" />
		<until-successful maxRetries="10" doc:name="Until Successful" doc:id="64a03168-d879-4add-b789-0ef1c363d84c" >
			<logger level="INFO" doc:name="Logger" doc:id="e3a676f5-1e22-4e8d-abd0-b6e654716ca3" message="Checking whether Batch Job is Finished for ID: #[vars.batchJobResult.id]"/>
			<os:retrieve doc:name="Retrieve" doc:id="d9993cf4-c3d5-4d1e-925d-eea61aa99721" key=" #[vars.batchJobResult.id]"/>
		</until-successful>
		<logger level="INFO" doc:name="Logger" doc:id="f32fd2ce-0a90-419c-a6f8-81762be19455" message="BATCH JOB COMPLETED SUCCESSFULLY"/>
	</flow>
</mule>