batch-job-test-mule4/src/main/mule/batch-job-test-mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="77a5869d-a251-4a5a-84d9-1ba8f397e765" >
		<db:my-sql-connection host="localhost" port="3306" user="odp" password="odp123" database="odp" />
	</db:config>
	<flow name="batch-job-test-mule4Flow" doc:id="b1b173bd-bf28-4f3a-b9bf-48408d6d8c64"  maxConcurrency="1">
		<scheduler doc:name="Scheduler" doc:id="d4e81a36-6adc-4231-984d-ef8447232260" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Select" doc:id="9d6005f6-069c-4aed-9b79-000b77fb4b39" config-ref="Database_Config">
			<db:sql >select * from employee</db:sql>
		</db:select>
		<batch:job jobName="batch-job-test-mule4Batch_Job" doc:id="e63d909b-0f7d-4226-bec7-3f0897a1302f" >
			<batch:process-records >
				<batch:step name="STEP-1" doc:id="48f681b0-d43f-41ad-99e0-6e2b180780be" >
					<logger level="INFO" doc:name="Logger" doc:id="a42136fe-9ac0-4179-b86a-9bfb96aafbf7" message="## Step 1: #[payload] ##"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="a2a1b3e5-65d1-4356-a941-3266b0950dc3" size="5">
						<ee:transform doc:name="Transform Message" doc:id="cdcd5826-ae7c-4162-8073-b25410d68258" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	changedName: 'STEP1' ++ $.department,
	empId: $.id
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="c19f7eae-be95-477a-bfcb-b91a995cb119" message="##  STEP 1 Aggregation: #[payload]"/>
						<db:bulk-update doc:name="Bulk update" doc:id="df8335fd-f3cb-46a5-ac48-ef4f4521cd00" config-ref="Database_Config">
							<db:sql >update employee set fname = :changedName where id = :empId</db:sql>
						</db:bulk-update>
					</batch:aggregator>
				</batch:step>
				<batch:step name="STEP-2" doc:id="c8a4cc78-c685-4a4d-951b-bb731f994bcd" >
					<logger level="INFO" doc:name="Logger" doc:id="02b29ed9-ee39-4a1f-84e6-a2e3ffe91b16" message="## Step 2 : #[payload] ##"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="cb4b6a4e-32cf-41cf-b930-dd76a1570c47" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="033aee0c-4f4c-4b59-a4f0-7924457e14b7" message="## STEP 2 Aggregation: #[payload]" />
						<db:bulk-update doc:name="Bulk update" doc:id="2746e816-48f7-4f81-ad34-eacdf663e713" config-ref="Database_Config">
							<db:bulk-input-parameters ><![CDATA[#[output application/java --- payload map { changedName: ('STEP2' ++ $.phone), empId: $.id }]]]></db:bulk-input-parameters>
							<db:sql >update employee set lname = :changedName  where id = :empId</db:sql>
						</db:bulk-update>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c14a1549-556c-4b82-b42b-b7c7be587df8" message="## Final Output : #[payload] ##"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
