streaming-test-mule4/src/main/mule/streaming-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="babea66a-0c8e-4791-861a-924c0f93b88b" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="streaming-testFlow" doc:id="36fde04e-8e03-4d29-9efc-f6bcc88d427f" >
		<http:listener doc:name="Listener" doc:id="bae302d3-05ab-4509-af5a-64dacce5c3ce" config-ref="HTTP_Listener_config" path="/async"/>
		<logger level="INFO" doc:name="First Logger" doc:id="ad86daca-1e17-40cf-88b1-33c303d71f90" message="## Received a Request ## ;#[payload]"/>
		<async doc:name="Async" doc:id="e0bf333a-325c-4c2b-a310-e14b3b8c0c6b" >
			<flow-ref doc:name="Flow Reference" doc:id="d72ee9e3-975e-4262-89e4-7e5d44923a1c" name="streaming-testSub_Flow"/>
		</async>
		<scripting:execute doc:name="Execute" doc:id="e64f1ead-ccaa-42e5-8843-b8de27d3b912" engine="groovy">
			<scripting:code>Thread.sleep(5000);
return payload;</scripting:code>
		</scripting:execute>
		<logger level="INFO" doc:name="Second Logger" doc:id="7d326ed4-c90e-407a-b4d4-5e5ed20eef3a" message="## Payload in Second Logger: #[payload]"/>
		<logger level="INFO" doc:name="Third Logger" doc:id="5abd1d2e-9d2b-4fe5-bf91-6dfde7d83f6a" message="## Payload in Third Logger: #[payload]"/>
	</flow>
	<sub-flow name="streaming-testSub_Flow" doc:id="205798ae-35da-431a-b2da-f0e0f58bdf33" >
		<logger level="INFO" doc:name="Seperate Thread" doc:id="293fb4a0-9b34-4d17-882d-aae39b1ada91" message="Payload in seperate thread: #[payload]"/>
	</sub-flow>
</mule>
