streaming-test-mule4/src/main/mule/test-one.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="test-one-flow" doc:id="c9927ecd-b01e-4635-9d50-f09ad6d61177" >
		<file:listener doc:name="On New or Updated File" doc:id="083b4f71-0cc3-4c14-ada5-e06db398415e" directory="/Users/vinay/tmp" watermarkMode="MODIFIED_TIMESTAMP">
			<ee:repeatable-file-store-stream inMemorySize="5024" />
			<scheduling-strategy >
				<fixed-frequency frequency="10000"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="0423ff42-9d50-4e15-96e1-5df5f9cd0985" message="## Message Received ##"/>
		<ee:transform doc:name="Transform Message" doc:id="9d3db889-20c8-45d9-909e-865a44988b30" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload as Iterator]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="a69e9d60-6e0d-4175-bd62-12d21476988c" >
			<logger level="INFO" doc:name="Logger" doc:id="36dcb8d7-06a2-4cdc-a128-f7f8c9b3905b" message="## Inside Loop: #[payload] ##" />
		</foreach>
	</flow>
</mule>
