test-project/src/main/mule/test-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7863443b-15f9-414b-bb52-b3f9198f8527" >
		<http:listener-connection host="0.0.0.0" port="9091" />
	</http:listener-config>
	<flow name="test-projectFlow" doc:id="5bfd4400-c526-401e-8012-38979b5105bd" >
		<http:listener doc:name="Listener" doc:id="169c932f-1437-483a-afa2-6de3aad3472c" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="a8ef60de-d180-442a-80ec-8e7e82b8d86d" message="Environment Variable: ${myTest},  Var From Properties: ${name.first}"/>
		<logger level="INFO" message="Value from Global Props: ${GlobalValueBhee}"/>
		<set-variable value="${file::test.txt}" doc:name="Set Variable" doc:id="726f14bb-9e6a-4a85-8d96-3334e5284ac9" variableName="fileProp"/>
		<logger level="INFO" doc:name="Logger" doc:id="a8f867eb-df24-4fb1-b2a0-7310e0e22628" message="File Property Value: #[vars.fileProp]"/>
	</flow>
	<flow name="scheduler-flow" doc:id="6116f5e1-0f53-4cc7-9917-a40bffae205b" >
		<scheduler doc:name="Scheduler" doc:id="84b2af4e-c9bc-4fa9-a2a4-34d8721c5777" >
			<scheduling-strategy >
				<fixed-frequency frequency="60000"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="d78bbccc-78f2-4ec4-95a3-542b8d86ccc6" message="## Scheduler Triggered a flow ##"/>
	</flow>
	
	<configuration-properties file="test1.yaml" /> 
	
	<global-property value="myGlobal" name="GlobalValueBhee" />
</mule>
