water-mark-db-test/src/main/mule/water-mark-db-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	
	<flow name="water-mark-db-testFlow" doc:id="f9f2f9dd-0ecc-4b52-817c-8df6957a09f1" initialState="${scheduler.initialState}">
		<scheduler doc:name="Scheduler" doc:id="24def59a-67ca-4a25-b618-59cde77e5cf2" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequencyInSeconds}" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Select" doc:id="9ca76bbc-aca8-4db9-8ca6-985490db4f58" config-ref="Database_Config">
			<db:sql >select * from account</db:sql>
		</db:select>
		<foreach doc:name="For Each" doc:id="ae676a34-bff4-4a2c-a2ed-8e6b49bc0e30" >
			<logger level="INFO" doc:name="Logger" doc:id="843d8870-5c30-4714-ae01-ab8a3b1f70d6" message="scheduler next record: #[payload]" category="com.vinay.scheduler"/>
		</foreach>
	</flow>
	
<!-- 	<flow name="water-mark-db-testFlow1" doc:id="5ee99e68-02c7-4a24-bd6b-3d80d832ff77" initialState="${mysql.listnerInitialState}" maxConcurrency="1"> -->
	
	<flow name="water-mark-db-testFlow1" doc:id="4d25ac90-ffef-4922-a266-002c650a068e" initialState="${mysql.listnerInitialState}" maxConcurrency="1">
		<db:listener table="account" doc:name="On Table Row" doc:id="4e100db2-3d94-4147-8a8b-dde851aca41a" config-ref="Database_Config" watermarkColumn="name" idColumn="id">
			<scheduling-strategy >
				<fixed-frequency frequency="${mysql.pollingFrequencyInSeconds}" timeUnit="SECONDS" />
			</scheduling-strategy>
		</db:listener>
		<logger level="INFO" doc:name="Logger" doc:id="72bf50a7-1d1b-4af8-9ad4-436110d18962" message="database listner next record: #[payload]" category="com.vinay.db.listner"/>
<!-- 		<raise-error doc:name="Raise error" doc:id="a7a4c90a-aa89-4371-b8a8-acfe0b484c50" type="APP:CUSTOM_ERROR" description="error to test water mark"/> -->		<scripting:execute engine="groovy" doc:name="sleep" doc:id="39325a29-2688-4c04-83ce-2915c8145e37" >
			<scripting:code >Thread.sleep(${mysql.listnerRecordProcessingTimeSeconds} * 1000);</scripting:code>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="0f4a8fb1-3065-44e6-94cb-ca8e5ff9dc98" message="database listner record: #[payload] processing completed" category="com.vinay.db.listner"/>
	</flow>
</mule>
