file-transfer-tests/src/main/mule/file-transfer-tests.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="file-transfer-testsFlow" doc:id="b7b57120-9d32-4070-b943-791bf48c904d" >
		<file:listener doc:name="On New or Updated File" doc:id="722f7eda-1688-4f4b-9556-c6e4baff3472" config-ref="globalFileConfig" applyPostActionWhenFailed="false">
			<scheduling-strategy >
				<fixed-frequency frequency="60" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="8d5ffb66-c3bb-4d85-a677-219b55ae9bf1" message="File Content Received: #[payload]"/>
		<raise-error doc:name="Raise error" doc:id="e0e01f43-8390-4952-aa32-8a4433f7453d" type="FILETEST:TEST_EXCEPTION" description="this exception is to test file bahaviour"/>
		<logger level="INFO" doc:name="Logger" doc:id="183a20de-b2bd-4c5a-b52d-d9dcc87f9a20" message="Log After Exception"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="63b06327-38c9-4fff-bf55-33f8bffce1e6" />
		</error-handler>
	</flow>
</mule>
