exception-handling-test/src/main/mule/multiple-flow-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="multiple-flow-testFlow" doc:id="8ae76693-2d56-4fda-850e-544ba9b8f4af" >
		<http:listener doc:name="Listener" doc:id="45f7e4b8-d555-4bc8-9c29-1d8ce92ffa31" config-ref="HTTP_Listener_config" path="/multiple"/>
		<logger level="INFO" doc:name="Logger" doc:id="70792989-82a6-4db8-ae81-df917adb699c" message="## Received Request to Multiple Flows Test ##"/>
		<flow-ref doc:name="call process flow" doc:id="93a5ecf6-1638-4243-a760-f2762e58fd73" name="process-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="ca323968-0fa2-491f-8299-8ff162f1469a" message="## This is called in ON CONTINUE cases #"/>
	</flow>
	<flow name="process-flow" doc:id="dfbfe055-5a6c-4f43-bd7f-55f4c53a1332" >
		<logger level="INFO" doc:name="Logger" doc:id="ddacf33d-d668-44e6-9161-d973ca986c3f" message="## Process Flow Called ##"/>
		<choice doc:name="Choice" doc:id="af572ed1-d93f-492c-9f9f-9c6207f3b02d" >
			<when expression="#[payload == 'continue']">
				<ee:transform doc:name="Transform Message" doc:id="954e24b0-5cb5-44a5-a8e8-cc67a6d0b60e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	test: error ++ error
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<http:request method="GET" doc:name="Request" doc:id="ae4b8dc8-bc30-4071-839b-af98cf176085" config-ref="HTTP_Request_configuration" path="/"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="65c1c8d0-f486-4f75-9dbe-0e15dab9909c" message="## THIS SHOULD NOT BE CALLED ##"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5118074c-a846-4d5f-ab62-6141ce9b41cf" type="EXPRESSION">
				<logger level="INFO" doc:name="Logger" doc:id="5eb38233-8300-484d-97e1-53d0c94ff88e" message="## On Continue Called ##"/>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e2b028dc-ba91-4a66-a479-d467290f9b59" >
				<logger level="INFO" doc:name="Logger" doc:id="2cc218d8-a99c-4dc2-af7b-91f690155cf2" message="## On Propagate Called ##"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
