exception-handling-test/src/main/mule/single-flow-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d942c183-4835-428b-9ce6-04b1cc1cc470" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b8a25a6b-fab3-4f75-81c3-e52bf06fd03e" >
		<http:request-connection host="localhost" port="9099" >
			<reconnection >
				<reconnect frequency="10000" />
			</reconnection>
		</http:request-connection>
	</http:request-config>
	<flow name="single-flow-testFlow" doc:id="87132be4-a287-4cd6-a85f-31ae2d56540c" >
		<http:listener doc:name="Listener" doc:id="3fd7da72-81f1-44db-b6a8-f6d7f4de7fb9" config-ref="HTTP_Listener_config" path="/single">
			<http:error-response >
				<http:body ><![CDATA[#[output text/plain --- "Error in procesing request"]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="6fbf8b71-050f-420e-8ef0-9e2a4c353593" message="## Received Request with Payload: #[payload] ##"/>
		<choice doc:name="Choice" doc:id="1288310b-bf44-4c8b-abb1-ddb6ba8b12e3" >
			<when expression="#[payload == 'continue']">
				<ee:transform doc:name="Transform Message" doc:id="c2175f3a-a8f4-493b-a382-b398f2e71739" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	test: error ++ error
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<http:request method="GET" doc:name="Request" doc:id="2dd031e6-bc25-4204-b499-bf30e3b33ab8" config-ref="HTTP_Request_configuration" path="/" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="8a9b0154-d6cc-4a9e-af9e-dfb13e45830b" message="## THIS WILL NOT BE CALLED ##"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1b88aad5-7490-4efd-b082-dab4fce78633" type="EXPRESSION">
				<logger level="INFO" doc:name="Logger" doc:id="dca2b803-48df-479a-b622-34334293a87c" message="## ON CONTINUE CALLED ##"/>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="589e81b6-8138-4b9f-aac4-eb39fd953e96" >
				<logger level="INFO" doc:name="Logger" doc:id="e934cf4c-b347-4969-a1b1-86ceab789721" message="## ON PROPOGATE CALLED ##"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
