exception-handling-test-mule4/src/main/mule/exception-handling-test-db-reconnnection-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3f1f3012-abe9-4d10-aa90-e4870b7d7b73" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="${mysql.password}" database="${mysql.database}">
			<reconnection failsDeployment="${mysql.failDeploymentOnConnectionFailure}">
				<reconnect count="${mysql.reconnectionCount}"/>
			</reconnection>
		</db:my-sql-connection>
	</db:config>
	
	<flow name="exception-handling-test-db-reconnnection-testFlow" doc:id="11f58a3f-fe42-4563-8f09-0b49f5790b0c" >
		<http:listener doc:name="Listener" doc:id="7628741f-b6b6-4ef0-922d-01ca49f05096" config-ref="HTTP_Listener_config" path="/db"/>
		<logger level="INFO" doc:name="Logger" doc:id="f026d4a4-5c71-4a97-a427-c75501bdbd73" message="# Received Request for DB Reconnection #"/>
		<flow-ref doc:name="Flow Reference" doc:id="70090b8b-b236-4c2c-984c-af1cf40c9ca5" name="db-reconnection-test"/>
		<logger level="INFO" doc:name="Logger" doc:id="440c8c93-5899-4032-9186-66f2b8796054" message="# Flow Completed #"/>
	</flow>
	
	<flow name="db-reconnection-test" doc:id="972e80dd-13f5-436c-9c77-5fb7ce5cbcb4" >
		
		<db:select doc:name="Select" doc:id="8e5eb8e8-6b03-4871-83c3-0239ce108e2b" config-ref="Database_Config">
			<db:sql>select * from employee;</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2077a93b-50aa-4e6e-b9a7-4612870d1a37">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue when="#[payload == '']">
				<logger level="INFO" message="#Exception in connecting to database #"/>
			</on-error-continue> 
			<on-error-propagate>
				<logger level="INFO" message="#Exception in connecting to database, Throw Error #"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
