sf-mq-event-listner/src/main/mule/sf-mq-event-listner.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	
	<flow name="sf-mq-event-listnerFlow1" doc:id="ec976070-4e1f-4ca5-931b-cf4591652024" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="6af5dfe9-e401-45fd-881c-f33d04e27b6c" config-ref="Anypoint_MQ_Config" destination="${queueName}"/>
		<logger level="INFO" doc:name="Logger" doc:id="58fccc68-119a-4c5a-976a-82ad3f3c55f2" message="received message from mq: #[payload]"/>
	</flow>
</mule>
