notifications-sender-mule4/src/main/mule/notifications-sender-mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="notifications-sender-mule4Flow" doc:id="028cadcb-8582-4d09-a510-8143dc481c28" tracking:enable-default-events="true">
		<http:listener doc:name="Listener" doc:id="215c763e-035b-48d9-955b-7da1adbef7e3" 
				config-ref="http_listener_config"
				path="/sendNotification" />
		<tracking:transaction id="#[payload.id]" />
		<logger level="INFO" doc:name="Logger" doc:id="24dc77d2-dc15-42c3-b823-e3ebd3abe50c" message="Request to send notification: #[payload]"/>
	</flow>
</mule>
