object-store-test-mule4/src/main/mule/object-store-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	
	<flow name="object-store-testFlow" doc:id="34ae29a4-27a4-4a5f-b95e-25a2d4e378b1" >
		<http:listener doc:name="Listener" doc:id="2cf6c381-4c9c-407f-bfa7-46586cb0c45e" config-ref="HTTP_Listener_config" path="/os4DefaultWrite" outputMimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="16e7000c-69d9-4b48-b8ec-b0cf3df24eba" message="# Received Request for Object Store with Default Option, Payload:  #[payload]"/>
		
		<ee:transform doc:name="Transform Message" doc:id="74060012-2c41-4a5c-9638-62ea41be0f3a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store key="#[payload.key]">
			<os:value ><![CDATA[#[payload.value]]]></os:value>
		</os:store>
	</flow>
	
	<flow name="retrieve-data-flow">
		<http:listener config-ref="HTTP_Listener_config" path="/os4DefaultRead" />
		<logger level="INFO" message="## Got a request to receive date from Object Store with Default Option, Payload:  #[payload]"/>
		<os:retrieve key="#[payload.key]"/>
		<logger level="INFO" message="# Retrieved Value is: #[payload]"/>
	</flow>

</mule>
