jms-test-mule4/src/main/mule/jms-input-list-error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	
	<flow name="jms-receive-listQ-error" doc:id="bac2aa9f-9a68-4a31-8feb-84182fc7d94e" >
		<jms:listener doc:name="Listener" doc:id="bce8549a-35b8-4b82-b892-3bdda00ef577" config-ref="JMS_Config" destination="testListQError">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="d5cfde3b-c734-48cd-ab67-4a7ea9fd6521" message="## Consumed a message from List Queue Error: #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d766b04f-da4e-472d-9347-8c54c71ace56" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	i : 1/0
}]]></ee:set-payload>
				<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-attributes>
			</ee:message>
		</ee:transform>
	</flow>	
	
</mule>
