database-test-mule4/src/main/mule/database-test-mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="database-test-mule4Flow" doc:id="04bc0357-5e4f-47c5-8b81-de459af4b88d" >
		<scheduler doc:name="Scheduler" doc:id="d562f678-fe40-43d4-993c-62f040022e9b" >
			<scheduling-strategy >
				<fixed-frequency frequency="${schdulerFrequencyInSeconds}" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Select" doc:id="95c83d48-ba6c-4630-97eb-505b029f11a6" config-ref="Database_Config_MySQL" maxRows="${query.maxRows}" fetchSize="${query.fetchSize}">
			<db:sql >select * from employee;</db:sql>
		</db:select>
		<foreach doc:name="For Each" doc:id="d1cd1094-78e3-4e70-9e02-12c1d522f23a" >
			<logger level="INFO" doc:name="Logger" doc:id="c6f35a15-3c4e-4b94-a950-e19f0067ad4a" message="## Each Record: #[payload] ##"/>
		</foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="11208a72-ec4c-4241-9726-a71b1c283370" >
				<logger level="INFO" doc:name="Logger" doc:id="cac6809d-3335-4bf9-b796-1f597d814939" message="WOOOW"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
